@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.header {
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}


.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 6px 0;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.menu__link {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: white;

}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.search__link {
    width: 30px;
    height: 30px;
    color: white;
}


.section__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background: url(../img/bgheader.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.section__h {
    font-family: "Prosto One";
    font-size: 100px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}


.section__btn {
    padding: 13px 14px;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: white;
    text-transform: uppercase;
    color: black;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.section__btn:hover {
    transform: scale(120%);
}





.fal__link {
    color: black;
}

.section2 {
    background: #151515;
    padding-bottom: 50px;

}

.section2__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-top: 30px;
}

.section2__p {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 33px;
    color: white;
}

.section2__wrap2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.section2__p2 {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}




.section3__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 50px;

}

.section3__p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: white;

}

.section3__p:last-child {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.cards__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
}

.card {
    background: white;
    padding: 15px 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card_h {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.card__p {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.card__btn {
    padding: 7px 55px;
    background: #151515;
    border: none;
    transition: 0.5s;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

}

.card__btn:hover {
    transform: scale(120%);
}



.footer {
    background: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    padding: 40px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu__link {
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;

}

.footer__cards {
    display: flex;
    gap: 20px;
}